<html>
    <head>
        <title>로그인 / 회원가입</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
                    <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
                </div>
                <div class="social-icons">
                    <img src="{{ url_for('static',filename='img/fb.png')}}"/>
                    <img src="{{ url_for('static',filename='img/tw.png')}}"/>
                    <img src="{{ url_for('static',filename='img/gl.png')}}"/>
                </div>
                <form input autocomplete="off" id="login" action="/login" method = "POST" class="input-group">
                    <input type="text" name = "username" class="input-field" placeholder="User name" required>
                    <input type="password" name = "password" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="checkbox"><span>Remember Password</span>
                    <button class="submit">Login</button>
                </form>
                <form input autocomplete="off" id="register" action="/register/" method = "POST" class="input-group">
                    <input type="text" name = "username" class="input-field" placeholder="User name" required>
                    <input type="email" name = "email" class="input-field" placeholder="Your Email" required>
                    <input type="password" name = "password" class="input-field" placeholder="Enter Password" required>
                    <input type="password" name = "password2" class="input-field" placeholder="Enter Password2" required>
                    <input type="checkbox" class="checkbox"><span>Terms and conditions</span>
                    <button class="submit">REGISTER</button>
                </form>
            </div>
        </div>
        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");
            
            
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>
        
    </body>
</html>